@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-custom: 'Inter', 'ui-sans-serif', 'system-ui', 'sans-serif';
  --font-mono: 'JetBrains Mono', 'ui-monospace', 'SFMono-Regular', 'monospace';

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-radius: var(--radius);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-astro-logo: var(--astro-logo);
}

@layer base {
  :root {
    --tw-prose-headings: var(--foreground);
    --radius: 0.625rem;
    --background: var(--rob-roy-50);
    --foreground: var(--blue-smoke-900);
    --card: oklch(0.99 0.01 85);
    --card-foreground: var(--blue-smoke-900);
    --popover: oklch(1 0 0);
    --popover-foreground: var(--blue-smoke-900);
    --primary: var(--blue-smoke-600);
    --primary-foreground: var(--rob-roy-50);
    --secondary: var(--rob-roy-200);
    --secondary-foreground: var(--blue-smoke-800);
    --muted: var(--rob-roy-100);
    --muted-foreground: var(--blue-smoke-600);
    --accent: var(--blue-smoke-100);
    --accent-foreground: var(--blue-smoke-900);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.984 0.003 247.858);
    --border: var(--rob-roy-200);
    --input: var(--rob-roy-300);
    --ring: var(--blue-smoke-600);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.984 0.003 247.858);
    --sidebar-foreground: oklch(0.129 0.042 264.695);
    --sidebar-primary: oklch(0.208 0.042 265.755);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.968 0.007 247.896);
    --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
    --sidebar-border: oklch(0.929 0.013 255.508);
    --sidebar-ring: oklch(0.704 0.04 256.788);

    --astro-logo: #17191e;
    --rob-roy-50: #fdf9ed;
    --rob-roy-100: #f7edce;
    --rob-roy-200: #efda98;
    --rob-roy-300: #e8c468;
    --rob-roy-400: #e1ac3e;
    --rob-roy-500: #d98f27;
    --rob-roy-600: #c06d1f;
    --rob-roy-700: #a0501d;
    --rob-roy-800: #823f1e;
    --rob-roy-900: #6b341c;
    --rob-roy-950: #3d1a0b;
    --blue-smoke-50: #f6f7f7;
    --blue-smoke-100: #e0e7e3;
    --blue-smoke-200: #c1cec7;
    --blue-smoke-300: #9aaea4;
    --blue-smoke-400: #7a9086;
    --blue-smoke-500: #5b7168;
    --blue-smoke-600: #475a52;
    --blue-smoke-700: #3b4a43;
    --blue-smoke-800: #323d38;
    --blue-smoke-900: #2c3531;
    --blue-smoke-950: #171c1a;

  }

  a {
    cursor: pointer;
  }
  .dark {
    --background: var(--blue-smoke-950);
    --foreground: var(--blue-smoke-50);
    --card: var(--blue-smoke-900);
    --card-foreground: var(--blue-smoke-50);
    --popover: var(--blue-smoke-900);
    --popover-foreground: var(--blue-smoke-50);
    --primary: var(--blue-smoke-400);
    --primary-foreground: var(--blue-smoke-50);
    --secondary: var(--blue-smoke-800);
    --secondary-foreground: var(--blue-smoke-50);
    --muted: var(--blue-smoke-800);
    --muted-foreground: var(--blue-smoke-400);
    --accent: var(--blue-smoke-800);
    --accent-foreground: var(--blue-smoke-50);
    --destructive: oklch(0.704 0.191 22.216);
    --border: var(--blue-smoke-700);
    --input: var(--blue-smoke-700);
    --ring: var(--blue-smoke-400);
    --chart-1: var(--blue-smoke-400);
    --chart-2: var(--rob-roy-400);
    --chart-3: var(--blue-smoke-300);
    --chart-4: var(--blue-smoke-200);
    --chart-5: var(--rob-roy-300);
    --sidebar: var(--blue-smoke-900);
    --sidebar-foreground: var(--blue-smoke-50);
    --sidebar-primary: var(--blue-smoke-400);
    --sidebar-primary-foreground: var(--blue-smoke-50);
    --sidebar-accent: var(--blue-smoke-800);
    --sidebar-accent-foreground: var(--blue-smoke-50);
    --sidebar-border: var(--blue-smoke-700);
    --sidebar-ring: var(--blue-smoke-400);

    --astro-logo: #e7e9eb;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
