---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import { formatDate } from '../../utils'

const blog_posts = await getCollection('blog')

const posts = blog_posts
  .sort((a, b) => {
    return new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  })
  .splice(0, 3)
---

<h2 class="text-xl">Blog</h2>
<div class="grid grid-cols-1 gap-4 mt-4">
  {
    posts.map((post) => {
      return (
        <a class="w-full" href={'blog/' + post.slug}>
          <div class="lg:flex justify-start gap-y-4 lg:gap-4 p-4 rounded-md">
            <Image
              loading="eager"
              src={post.data.image}
              class="w-full lg:w-1/4 mb-4 lg:mb-0 rounded-md shadow-md shadow-slate-700 object-cover"
              alt="project screenshot"
              transition:name={`blog-${post.slug}`}
              transition:animate="fade"
            />
            <div class="w-full ">
              <p class="">
                <span class="border-l-2 border-primary pr-2" />
                {formatDate(post.data.date)}
              </p>
              <h3 class="text-lg">{post.data.title}</h3>
              <span class="text-sm">Read Article </span>
            </div>
          </div>
        </a>
      )
    })
  }
</div>
