---
import { Image } from 'astro:assets'
import githubImage from '/src/assets/certs/github-foundations.png'
---

<div class="border border-slate-700/70 rounded-lg p-6">
  <h2 class="text-lg inline-flex items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-badge-check"
      ><path
        d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"
      ></path><path d="m9 12 2 2 4-4"></path></svg
    >Certifications
  </h2>
  <div class="flex flex-col h-full">
    <div class="flex-1 overflow-y-auto">
      <div class="flex justify-start items-center gap-4 py-4 md:gap-4">
        <Image
          src={githubImage}
          alt="GitHub Fundamentals"
          width="120"
          height="120"
        />
        <div>
          <h3 class="text-lg">GitHub Foundations</h3>
          <p class="text-sm text-slate-400">Expires February 2027</p>
          <a
            class="text-sm text-primary-400"
            target="_blank"
            href="https://www.credly.com/badges/5740de8e-7b61-4a05-8b99-ed2c4a2c7be2/public_url"
            >View Details</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
