---
import { Briefcase, Download } from 'lucide-react'
import JobEntry from './JobEntry.astro'
import { Card, CardContent, CardTitle } from '@/components/ui/card'
import { LinkButton } from '@components/ui/link-button'
---

<Card className="border border-slate-700/70 rounded-lg p-6">
  <CardTitle className="text-lg inline-flex items-center gap-2">
    <Briefcase /> Work
  </CardTitle>
  <CardContent>
    <div class="grid gap-6 py-4 md:gap-8">
      <JobEntry
        date="2024 - Present"
        title="Senior Software Engineer IV"
        company="Stratfield Consulting"
      />
      <JobEntry
        date="2021 - 2024"
        title="Senior Software Engineer & Tech Lead"
        company="United States Steel Corporation"
      />
      <JobEntry
        date="2017 - 2021"
        title="Software Engineer III"
        company="United States Steel Corporation"
      />
      <JobEntry
        date="2015 - 2017"
        title="Software Engineer II"
        company="United States Steel Corporation"
      />
      <JobEntry
        date="2014 - 2015"
        title="Software Engineer I"
        company="United States Steel Corporation"
      />
      <JobEntry
        date="2013 - 2014"
        title="Software Engineer Co-op "
        company="United States Steel Corporation"
      />
      <LinkButton href="/Resume.pdf" target="_blank" variant="">
        Download Resume <Download />
      </LinkButton>
    </div>
  </CardContent>
</Card>
