---
import Button from '@components/Base/Button.astro'
import JobEntry from './JobEntry.astro'
---

<div class="border border-slate-700/70 rounded-lg p-6">
  <h2 class="text-lg inline-flex items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-briefcase-business"
      ><path d="M12 12h.01"></path><path
        d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"></path><path
        d="M22 13a18.15 18.15 0 0 1-20 0"></path><rect
        width="20"
        height="14"
        x="2"
        y="6"
        rx="2"></rect></svg
    > Work
  </h2>
  <div class="flex flex-col h-full">
    <div class="flex-1 overflow-y-auto">
      <div class="grid gap-6 py-4 md:gap-8">
        <JobEntry
          date="2024 - Present"
          title="Senior Software Engineer IV"
          company="Stratfield Consulting"
        />
        <JobEntry
          date="2021 - 2024"
          title="Senior Software Engineer & Tech Lead"
          company="United States Steel Corporation"
        />
        <JobEntry
          date="2017 - 2021"
          title="Software Engineer III"
          company="United States Steel Corporation"
        />
        <JobEntry
          date="2015 - 2017"
          title="Software Engineer II"
          company="United States Steel Corporation"
        />
        <JobEntry
          date="2014 - 2015"
          title="Software Engineer I"
          company="United States Steel Corporation"
        />
        <JobEntry
          date="2013 - 2014"
          title="Software Engineer Co-op "
          company="United States Steel Corporation"
        />
        <Button href="/Resume.pdf">Download Resume</Button>
      </div>
    </div>
  </div>
</div>
