---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<h2 class="text-xl">Projects</h2>
<div class="grid grid-cols-1 gap-4 mt-4">
  {
    projects.map((project) => {
      return (
        <a class="w-full" href={project.data.repo_url}>
          <div class="lg:flex justify-start gap-y-4 lg:gap-4 hover:bg-slate-800 p-4 rounded-md">
            <Image
              src={project.data.thumbnail}
              class="w-full lg:w-1/2 mb-4 lg:mb-0 rounded-md border border-slate-600 shadow-md shadow-slate-700"
              alt="project screenshot"
              height={250}
              width={250}
            />
            <div class="w-full lg:w-1/2">
              <h3 class="text-lg text-primary">{project.data.title}</h3>
              <p class="text-slate-400">{project.data.description}</p>
            </div>
          </div>
        </a>
      )
    })

  }
  <caption class="text-slate-400">More projects coming soon...</caption>
</div>
