---
import Layout from '../layouts/Layout.astro'
import SocialLinks from '../components/SocialLinks.astro'
import HeroLinks from '../components/HeroLinks.astro'
import Link from '../components/Link.astro'
import Experience from '../components/Experience.astro'
---

<Layout title="Steve Greco - Senior Software Engineer">
  <div class="lg:flex lg:justify-between lg:gap-4">
    <header
      class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
    >
      <section class="mb-6">
        <div class="flex justify-start items-center gap-4">
          <img
            src="/avatar.png"
            class="h-16 w-16 lg:h-28 lg:w-28 rounded-full"
            alt=""
          />
          <div>
            <h1 class="text-3xl lg:text-6xl tracking-tight text-primary">
              Steve Greco
            </h1>
            <h2 class="text-base lg:text-xl mt-1 lg:mt-2">
              Senior Software Engineer
            </h2>
          </div>
        </div>
        <p class="mt-4 text-slate-400">
          I am a software engineer with 11+ years of experience specializing in
          front-end development, design systems and testing automation.
        </p>
        <p class="mt-4 text-slate-400">
          Currently open to new oppourtunities and looking for my next
          challenge.
        </p>
        <div class="mt-4">
          <SocialLinks />
        </div>
        <HeroLinks />
      </section>
    </header>
    <main class="pt-4 lg:pt-24 lg:w-1/2">
      <section class="mb-8 scroll-mt-16 lg:mb-16 lg:scroll-mt-24">
        <h3 class="text-3xl font-bold sr-only">About Me</h3>
        <div class="mt-4">
          <p class="text-slate-400">
            I have been working at{' '}
            <a
              href="https://www.ussteel.com"
              target="_blank"
              rel="noopener noreferrer"
              class="text-primary"
            >
              United States Steel Corporation
            </a>{' '}
             for 11 years, most recently as an Architect/Staff Software
            Engineer. Primarily I have focused on front-end architecture and
            development, but I have worked with a variety of technologies and
            frameworks, including React, Typescript, Vue and NodeJS.
          </p>
          <p class="mt-4 text-slate-400">
            I am also a strong advocate for testing automation, design systems
            and continuous integration. These are areas that I have contributed
            to significantly throughout my career.
          </p>
          <p class="mt-4 text-slate-400">
            An area that I am very passionate about is leadership and mentoring
            junior developers. I have been fortunate enough to have had some
            great mentors throughout my career, and I am always looking for
            opportunities to pay it forward.
          </p>
        </div>
      </section>
      <section class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24">
        <div class="mt-4">
          <Experience />
        </div>
      </section>
      <footer>
        <div
          class="flex justify-center items-center py-2 mt-2 mb-12 text-slate-500 text-sm"
        >
          <p>
            Built with <Link external slug="https://astro.build/">Astro</Link>
             and deployed on <Link external slug="https://vercel.com/">
              Vercel
            </Link>, heavily inspired by <Link
              external
              slug="https://brittanychiang.com/"
            >
              Brittany Chiang.
            </Link>
          </p>
        </div>
      </footer>
    </main>
  </div>
</Layout>
