---
import Layout from '../layouts/Layout.astro'
import Link from '../components/Link.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
---

<Layout title="Steve Greco - Senior Software Engineer">
  <div class="">
    <div
      class="flex lg:w-full lg:flex-col lg:justify-between lg:pt-28 lg:pb-16"
    >
      <section class="mb-6">
        <div class="flex justify-start items-center gap-4">
          <div class="w-full lg:w-3/4">
            <h1 class="flex text-3xl lg:text-6xl tracking-tight text-white">
              <span class="text-primary"><i></i></span> Stephen Greco
            </h1>
            <p class="mt-4 text-slate-400">
              I am a software engineer with 11+ years of experience specializing
              in front-end development, design systems and testing automation.
            </p>
            <p class="mt-4 mb-8 text-slate-400">
              Currently open to new opportunities and looking for my next
              challenge.
            </p>
          </div>
        </div>

        <a
          class="px-4 py-3 text-lg rounded-md border border-primary bg-slate-900 text-primary hover:bg-primary hover:text-slate-900"
          href="/Resume.pdf"
          target="_blank">View Resume</a
        >
      </section>
      <!-- <Image src="/public/Designer.png" height={400} width={400} alt="Steve" /> -->
    </div>
    <main class="pt-4 lg:pt-20 lg:w-full">
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <section
          id="experience"
          class="mb-8 scroll-mt-16 md:mb-16 lg:mb-24 lg:scroll-mt-24"
        >
          <Experience />
        </section>
        <section
          id="projects"
          class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
        >
          <Projects />
        </section>
      </div>

      <footer>
        <div
          class="flex justify-center items-center py-2 mt-2 mb-12 text-slate-500 text-sm"
        >
          <p>
            Built with <Link external slug="https://astro.build/">Astro</Link>
             and deployed on <Link external slug="https://vercel.com/">
              Vercel.
            </Link>
          </p>
        </div>
      </footer>
    </main>
  </div>
</Layout>
