---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import SocialLinks from '../components/SocialLinks.astro'
import Heading from '../components/Heading.astro'
import HeroLinks from '../components/HeroLinks.astro'

const skills = await getCollection('skills')
const exp = await getCollection('experience')
---

<Layout title="Steve Greco - Software Engineer">
  <div class="lg:flex lg:justify-between lg:gap-4">
    <header
      class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
    >
      <section class="mb-6">
        <h1 class="text-6xl tracking-tight text-primary">Steve Greco</h1>
        <h2 class="text-xl mt-4">Senior Software Engineer</h2>
        <p class="mt-4 text-slate-400">
          I am a software engineer with 11+ years of experience specializing in
          front-end development. I have a passion for building beautiful,
          accessible, and performant web applications.
        </p>
        <div class="mt-4">
          <SocialLinks />
        </div>
        <HeroLinks />
      </section>
    </header>
    <main class="pt-24 lg:w-1/2 lg:py-24">
      <section class="mb-8 scroll-mt-16 lg:mb-24 lg:scroll-mt-24">
        <h3 class="text-3xl font-bold sr-only">About Me</h3>
        <div class="mt-4">
          <p class="mt-4 text-slate-400">
            I have been working at{' '}
            <a
              href="https://www.ussteel.com"
              target="_blank"
              rel="noopener noreferrer"
              class="text-primary"
            >
              United States Steel Corporation
            </a>{' '}
             for 11 years as a Senior Software Engineer, primarily focusing on
            front-end architecture and development. Over the course of my
            career, I have worked with a variety of technologies and frameworks,
            including React, Typescript, Vue and NodeJS.
          </p>
          <p class="mt-4 text-slate-400">
            I am also a strong advocate for testing automation, design systems
            and continuous integration. These are areas that I have contributed
            to significantly throughout my career.
          </p>
          <p class="mt-4 text-slate-400">
            An area that I am very passionate about is leadership and mentoring
            junior developers. I have been fortunate enough to have had some
            great mentors throughout my career, and I am always looking for
            opportunities to pay it forward.
          </p>
        </div>
      </section>
      <section class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24">
        <!-- <h3 class="text-3xl font-bold">Experience</h3> -->
        <div class="mt-4">
          {
            exp.map((skill) => {
              return (
                <div class="py-8">
                  <>
                    <Heading title={skill.data.title} />
                    <p class="text-slate-400 mb-4">{skill.data.summary}</p>
                    <a
                      class="text-primary-300 text-lg font-semibold"
                      href={'/experience/' + skill.slug}
                    >
                      Learn More
                    </a>
                  </>
                </div>
              )
            })
          }
        </div>
      </section>
    </main>
  </div>
</Layout>
