---
import Link from '@components/Base/Link.astro'
---

<footer class="pt-8">
  <div
    class="flex-col items-center text-center justify-center py-2 mt-2 mb-4 text-slate-400 text-sm"
  >
    <p>
      Built with <Link external slug="https://astro.build/">Astro</Link>
      and deployed on <Link external slug="https://vercel.com/">Vercel.</Link>
    </p>
    <p class="text-center text-sm">
      &copy; {new Date().getFullYear()}
      <a href="https://www.stevegreco.dev">Stephen Greco</a>
    </p>
  </div>
</footer>
