---
import myLogo from '../../../public/logo.svg'
import { Image } from 'astro:assets'
import NavButton from '@components/NavButton.astro'
import SocialLinks from '@components/SocialLinks.astro'
import MobileNavigation from './MobileNavigation.astro'
---

<header>
  <div
    class="flex lg:justify-between items-center mx-auto max-w-screen-xl px-6 h-28 z-50 bg-slate-900 w-full lg:sticky lg:top-0"
  >
    <NavButton />
    <a href="/"> <Image src={myLogo} alt="Logo" height={60} width={225} /></a>
    <span class="hidden lg:block"><SocialLinks /></span>
  </div>
  <MobileNavigation />
</header>
