---
// import myLogo from '../../../public/logo.svg'
import avatar from '../../../public/avatar.png'
import { Image } from 'astro:assets'
import NavButton from '@components/NavButton.astro'
import SocialLinks from '@components/SocialLinks.astro'
import MobileNavigation from './MobileNavigation.astro'
import { ModeToggle } from '@components/ModeToggle'
---

<header class="lg:sticky lg:top-0 bg-background">
  <div
    class="flex lg:justify-between items-center mx-auto max-w-screen-xl px-6 h-20 z-50 w-full lg:sticky lg:top-0"
  >
    <NavButton />
    <a class="flex justify-start items-center text-3xl gap-4" href="/">
      <Image
        loading={'eager'}
        class="rounded-full"
        src={avatar}
        alt="Logo"
        height={60}
        width={60}
      />
    </a>

    <div class="flex items-center gap-4">
      <span class="hidden lg:block"><SocialLinks /></span>
      <ModeToggle client:load />
    </div>
  </div>
  <MobileNavigation />
</header>
