---

---

<!-- Mobile Navigation component using tailwind and a hamburger icon that expands when clicked -->
<div class="" id="menu-container" class:list="">
  <div
    id="menu-content"
    class="w-full bg-slate-800 text-slate-300 p-5 hidden lg:hidden"
  >
    <nav>
      <ul>
        <li><a href="/" class="block py-2">Home</a></li>
      </ul>
    </nav>
  </div>
</div>
