---
import JobEntry from './JobEntry.astro'
---

<h2 class="text-xl">Experience</h2>
<div class="flex flex-col h-full">
  <div class="flex-1 overflow-y-auto">
    <div class="grid gap-6 py-4 md:gap-8">
      <JobEntry
        date="Oct 2021 - Present"
        title="Senior Software Engineer & Tech Lead"
        company="United States Steel Corporation"
        description="Lead developer"
      />
      <JobEntry
        date="Oct 2017 - October 2021"
        title="Software Engineer II"
        company="United States Steel Corporation"
        description="Lead developer"
      />
      <JobEntry
        date="Oct 2015 - October 2017"
        title="Software Engineer I"
        company="United States Steel Corporation"
        description="Lead developer"
      />
      <JobEntry
        date="June 2014 - Oct 2015"
        title="Associate Software Engineer"
        company="United States Steel Corporation"
        description="Lead developer"
      />
      <JobEntry
        date="Jan 2013 - June 2014"
        title="Software Engineer Co-op "
        company="United States Steel Corporation"
        description="Lead developer"
      />
    </div>
  </div>
</div>
