<div class="mt-12 flex flex-col gap-4 text-lg lg:text-2xl">
  <a
    class="text-primary hover:text-primary-400 flex gap-2 items-center justify-start cursor-pointer"
    href="https://www.linkedin.com/in/steve-greco/details/recommendations"
    target="_blank"
  >
    Linkedin Recomendations
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-4 w-4 lg:h-6 lg:w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
    </svg>
  </a>
  <a
    class="text-primary hover:text-primary-400 flex gap-2 items-center justify-start cursor-pointer"
    href="/Resume.pdf"
    target="_blank"
  >
    Download Resume
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-4 w-4 lg:w-6 lg:h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25"
      ></path>
    </svg>
  </a>
</div>
