---

---

<button id="menu-button" class="lg:hidden mr-4" aria-label="Open Menu"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    width="36"
    height="36"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-menu"
    ><line x1="4" x2="20" y1="12" y2="12"></line><line
      x1="4"
      x2="20"
      y1="6"
      y2="6"></line><line x1="4" x2="20" y1="18" y2="18"></line></svg
  ><span class="sr-only">Open Navigation</span></button
>

<script type="module" is:inline>
  document.addEventListener('astro:page-load', () => {
    const menu_button = document.querySelector('#menu-button')

    if (menu_button) {
      menu_button.addEventListener('click', function () {
        const menu_content = document.querySelector('#menu-content')
        menu_content.classList.toggle('hidden')
      })
    }
  })
</script>
