---

---

<div
  class="prose prose-foreground
  prose-h1:font-bold prose-h1:text-lg prose-h1:mb-4
  prose-a:text-blue-600 prose-img:rounded-xl prose-p:text-foreground prose-h2:text-foreground"
>
  <slot />
</div>
